# ArcGIS Python API Demo File

A short Jupyter Notebook showing how to query data from ArcGIS servers.

ArcGIS API for Python Reference: https://developers.arcgis.com/python/api-reference/index.html

Author: Josh Birlingmair

The API allows you to list all of the feature layers for a location

In [1]:
from arcgis.features import FeatureLayerCollection

ftr_lyrs = FeatureLayerCollection('https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer')
ftr_lyrs.layers

[<FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/0">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/1">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/2">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/3">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/4">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/5">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/6">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/7">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/8">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/9">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/10">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/11">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/12">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/13">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/14">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/15">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/16">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/17">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/18">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/19">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/20">,
 <FeatureLayer url:"https://pdihosting.azurecloudgov.us/arcgis/rest/services/AgCROS/COFOARD4/FeatureServer/21">]

Find the table called "MetaUnits_Unit"

In [2]:
i = 0

for ftr_lyr in ftr_lyrs.layers:
    if ftr_lyr.properties.name == 'MetaUnits_Unit':
        break
    
    i += 1

Display the number of records

In [3]:
ftr_lyr = ftr_lyrs.layers[i]
num_records = ftr_lyr.query(where='1=1', return_count_only=True)
num_records

20

Display the first record's Unit ID

In [4]:
records = ftr_lyr.query(where='1=1')
records.features[0].attributes['unit_id']

'COFOARD4_85A'

Display the 5 records only (as a Spacial DataFrame). `return_all_records` must be set to False to set the record count

In [5]:
records = ftr_lyr.query(where='1=1', return_geometry=False, return_all_records=False, result_record_count=5)
records.sdf

,objectid_1,unit_id,site_id,start_date,end_date,keyword_list,unit_url,location_id,location_name,description,Shape__Area,Shape__Length,SHAPE
0,1,COFOARD4_85A,COFOARD4,2012-03-20,2015-03-20,None,None,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
1,2,COFOARD4_85B,COFOARD4,2012-03-20,2015-03-20,None,None,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
2,3,COFOARD4_85C,COFOARD4,2012-03-20,2015-03-20,None,None,COFOARD4,Fort Collins CO,None,4.302314e-09,0.000291,None
3,4,COFOARD4_85D,COFOARD4,2012-03-20,2015-03-20,None,None,COFOARD4,Fort Collins CO,None,4.353503e-09,0.000292,None
4,5,COFOARD4_85D,COFOARD4,2012-03-20,2015-03-20,None,None,COFOARD4,Fort Collins CO,None,4.353471e-09,0.000292,None

Find the measurement or management layer with the most records, query it, and display it

In [6]:
index = max_records_index = 0
max_num_records = 0

for ftr_lyr in ftr_lyrs.layers:
    if ftr_lyr.properties.name.startswith('Meas') or ftr_lyr.properties.name.startswith('Mgt'):
        num_records = ftr_lyr.query(where='1=1', return_count_only=True)

        if num_records > max_num_records:
            max_num_records = num_records
            max_records_index = index

    index += 1

ftr_lyr = ftr_lyrs.layers[max_records_index]
records = ftr_lyr.query(where='1=1', return_geometry=False)
records.sdf

C:\Users\josh.birlingmair\anaconda3\envs\arcgis-py\lib\site-packages\arcgis\features\geo\_array.py:316: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return GeoArray(self.data[idx])
C:\Users\josh.birlingmair\anaconda3\envs\arcgis-py\lib\site-packages\arcgis\features\geo\_array.py:316: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return GeoArray(self.data[idx])

,objectid_1,unit_id,date,time,treatment_id,crop,chamber_placement,n2o_gn_ha_d,n2o_interp_0_obs_1,co2_gc_ha_d,...,ch4_std_gc_ha_d,air_temp_std_degc,soil_temp_std_degc,soil_moisture_std___vol,location_id,location_name,description,Shape__Area,Shape__Length,SHAPE
0,1,COFOARD4_85A,2012-03-20,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,1.024495,1.0,4235.714962,...,1.387442,0.636396,2.121320,0.636396,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
1,2,COFOARD4_85A,2012-03-21,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,1.802614,1.0,4499.311479,...,0.830652,1.414214,2.474874,0.636396,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
2,3,COFOARD4_85A,2012-03-22,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,1.886525,0.0,4382.229864,...,0.485208,NaN,NaN,NaN,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
3,4,COFOARD4_85A,2012-03-23,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,1.970436,1.0,4265.148250,...,0.139765,2.050610,2.050610,2.899138,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
4,5,COFOARD4_85A,2012-03-24,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,2.687710,0.0,8078.517487,...,0.171138,NaN,NaN,NaN,COFOARD4,Fort Collins CO,None,6.019575e-09,0.000375,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21915,21916,COFOARD4_89E,2015-03-16,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,0.232189,0.0,2624.310014,...,0.129917,NaN,NaN,NaN,COFOARD4,Fort Collins CO,None,6.019657e-09,0.000375,None
21916,21917,COFOARD4_89E,2015-03-17,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,0.222400,0.0,2840.970369,...,0.136519,NaN,NaN,NaN,COFOARD4,Fort Collins CO,None,6.019657e-09,0.000375,None
21917,21918,COFOARD4_89E,2015-03-18,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,0.212610,0.0,3057.630724,...,0.143121,NaN,NaN,NaN,COFOARD4,Fort Collins CO,None,6.019657e-09,0.000375,None
21918,21919,COFOARD4_89E,2015-03-19,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,0.202821,0.0,3274.291079,...,0.149723,NaN,NaN,NaN,COFOARD4,Fort Collins CO,None,6.019657e-09,0.000375,None
21919,21920,COFOARD4_89E,2015-03-20,1899-12-30 09:00:00,COFOARD4_DM+A,Zea mays (Corn),Across rows,0.193032,1.0,3490.951434,...,0.156325,2.333452,0.282843,3.818377,COFOARD4,Fort Collins CO,None,6.019657e-09,0.000375,None

Query a subset of the records of the layer `MeasGHGFlux_Unit` (the layer with the most records) and save it to file

In [7]:
import os

records_df = ftr_lyr.query(where='1=1', return_geometry=False, return_all_records=False, result_record_count=2000, as_df=True)
csv_path = os.path.join(r'C:\Users\Public\Downloads', f'{ftr_lyr.properties.name}_subset.csv')
records_df.to_csv(csv_path, index=False)

Calculate basic statistics of a subset (2,000 records) of the table using the DataFrame

In [8]:
mean = records_df['co2_gc_ha_d'].mean()
print('Mean:', mean)

median = records_df['co2_gc_ha_d'].median()
print('Median:', median)

Mean: 11897.431228743359
Median: 9266.19792217

Export the full set of records as a CSV

In [9]:
records_df = ftr_lyr.query(where='1=1', return_geometry=False, as_df=True)
csv_path = os.path.join(r'C:\Users\Public\Downloads', f'{ftr_lyr.properties.name}.csv')
records_df.to_csv(csv_path, index=False)

Calculate basic statistics of the entire table using the DataFrame

In [10]:
mean = records_df['co2_gc_ha_d'].mean()
print('Mean:', mean)

median = records_df['co2_gc_ha_d'].median()
print('Median:', median)

Mean: 7548.2165950707395
Median: 3867.337344595